@media screen and (max-width: 650px){
    header{
        font-size: 1.5em;
    }
    
    #s1{
        flex-direction: column;
        overflow: auto;
        margin: auto;
    }

    #s2{
        flex-direction: column;
        overflow: auto;
        margin: auto;
    }

    input{
        height: 100%;
    }

    #content-section{
        flex-direction: column;
    }


    #table-render-space{
        width: 100%;
        height: 80%; 
        flex: 1;
        margin-left: 0em;
    }

    #table-html-space{
        flex: 1;
        width: 100%;
        height: 80%; 
        margin-right: 0em;
    }

    p{
        font-size: 0.8em;
    }

    #nav-section{
        flex: 4;
    }

    #content-section{
        flex: 4;
    }

    fieldset{
        margin: auto;
        height: 80%;
    }


    *{
        overflow: auto;
    }
}