/* BOILER */ 
html, body {
    display: flex;
    width:100%; 
    height:100%;
}

body{
    border: 2px solid rgb(0, 187, 255);
}




#main_container{
    flex: 1; 
    display: flex;
    flex-direction: column;
} 

header{
    /* Flex as parent */ 
    display: flex;
    justify-content: center; 
    align-items: center; 

    /* Flex as parent */ 
    flex: 1;

    /* Other */ 
    background-color: #384c84;
    color: white; 
    font-size:  1.5em;
}


#main-section{
    /* Flex as parent */ 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 


    /* Flex as child */ 
    flex: 9; 


    /* Other */ 
    background-color: #909c94;
}


footer{
    /* Flex as parent */ 
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 

    /* Flex as child */ 
    flex: 1; 

    /* Other */ 
    background-color: #384c84;
}

footer > section {
    /* Flex as child */ 
    flex: 1; 

    /* Flex as parent */
    display: flex;
    justify-content: center; 
    align-items: center; 

    /* Other */ 
    color: white; 
    font-size: 1em; 
}




#nav-section{
    /* Flex as parent */ 
    display: flex; 
    justify-content: center; 
    align-items: center; 

    /* Flex as child */
    flex: 1;
    width: 90%;
    height: 80%; 
    margin: 2em 2em 0em 2em; 

    /* Other */ 
    background-color: #d1ccca;
}

#content-section{
    /* Flex as parent */
    display: flex; 
    justify-content: center;
    align-items: center;

    /* Flex as child */ 
    flex: 1; 
    width: 90%; 
    height: 30%;
    margin: 0em 2em 2em 2em;

    /* Other */ 
    background-color: #5094f4;
}

#nav-section > form{
    /* Flex as parent */ 
    display: flex; 

    /* Flex as child */ 
    width: 97%;
    height: 90%; 

    /* Other */ 
    border: 1px solid red;  
}


#table-render-space{
    /* Flex as parent */ 
    display: flex;
    /* Flex as child */ 
    flex: 5;
    height: 90%;
    padding: 0em 1em 0em 1em;


    /* Other */
   background-color: #e5b67f;
    margin-left: 1em;
}

#table-html-space{
    /* Flex as parent */ 
    display: flex; 
    align-items: center;
    justify-content: center;

    /* Flex as child */
    flex: 3; 
    height: 90%; 
    width: 90%;

    /* Other*/ 
    background-color: #ff2c00;
    margin-right: 1em;
}



#dynamic-table{
    height: 80%; 
    width: 100%;
}

#codeTextArea{
    width: 80%; 
    height: 80%;
}


#formID{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid red; 
    padding: 10px;
}


/* Section 1 */
#s1, #s2{
    /* Flex as parent */ 
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;


    /* Flex as child */ 
    flex: 1; 
    width: 100%;
    margin: 10px;

    /* Other*/
    border: 1px dotted red; 
}

fieldset{
    display: flex;
    align-items: center;

    flex: 1; 
    margin: 10px;
    width: 80%;
    height: 80%;
}

input{
    flex: 1; 
    width: 40%;
    height: 60%;
    margin: 10px; 
}


*{
    overflow: auto;
}


#formID{
    overflow: unset;
}


#table-render-space{
    display: flex;
    overflow-y: auto;
    flex-direction: column;


}

